// Shapes name
$set1: "shape1";
$set2: "shape2";
$set3: "shape3";
$set4: "shape4";
$set5: "shape5";
$set6: "shape6";
$set7: "shape7";
$set8: "shape8";
$set9: "shape9";
$set10: "shape10";
$set11: "shape11";
$set12: "shape12";
$set13: "shape13";
$set14: "shape14";
$set15: "shape15";
$set16: "shape16";
$set17: "shape17";
$set18: "shape18";
$set19: "shape19";
$set20: "shape20";
$set21: "shape21";
$set22: "shape22";
$set23: "shape23";
$set24: "shape24";
$set25: "shape25";
$set26: "shape26";
$set27: "shape27";
$set28: "shape28";
$set29: "shape29";
$set30: "shape30";
$set31: "shape31";
$set32: "shape32";
$set33: "shape33";
$set34: "shape34";
$set35: "shape35";
$set36: "shape36";
$set37: "shape37";
$set38: "shape38";
$set39: "shape39";
$set40: "shape40";
$set41: "shape41";
$set42: "shape42";
$set43: "shape43";
$set44: "shape44";
$set45: "shape45";
$set46: "shape46";
$set47: "shape47";
$set48: "shape48";
$set49: "shape49";
$set50: "shape50";
