/* ====================  NORMALIZE  ==================== */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

[type="checkbox"],
[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

:focus {
  outline: 0;
}

[type="text"],
[type="password"],
[type="email"],
[type="search"],
[type="number"],
[type="tel"],
[type="url"],
textarea {
  outline: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ====================  END NORMALIZE  ==================== */
/* =======================  CORE  ======================= */
::-moz-selection {
  background-color: #338fff;
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: #338fff;
  color: #fff;
  text-shadow: none;
}

html {
  font-size: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font: normal 14px/1.42857 "Arial", "Helvetica", sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

svg {
  -moz-transition: fill 0.3s ease-out;
  -o-transition: fill 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}

/* =======================  END CORE  ======================= */
/* ====================  TYPOGRAPHY  ==================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a[href^="http"], a[href^="www."] {
  cursor: alias;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 10px;
  border-left: 5px solid #eee;
}

abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted #999;
}

address {
  margin: 0 0 10px;
  font-style: italic;
}

ul,
ol {
  margin: 0 0 10px;
  padding-left: 20px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

ul li,
ol li {
  list-style-position: inside;
}

ul a,
ol a {
  color: inherit;
}

dl {
  margin: 0 0 10px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

table {
  max-width: 100%;
  background-color: transparent;
  margin-bottom: 10px;
}

caption {
  caption-side: bottom;
  font-weight: bold;
  text-align: left;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

img,
video,
object,
embed {
  max-width: 100%;
}

img,
video {
  height: auto;
  vertical-align: middle;
}

/* ====================  END TYPOGRAPHY  ==================== */
/* ====================  FORMS  ==================== */
form {
  max-width: 100%;
  margin-bottom: 10px;
  position: relative;
}

select,
textarea,
[type="text"],
[type="tel"],
[type="url"],
[type="email"],
[type="search"],
[type="number"],
[type="password"] {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 10px;
}

[type="radio"]:disabled, [type="radio"].disabled,
[type="checkbox"]:disabled,
[type="checkbox"].disabled {
  cursor: not-allowed;
}

:-moz-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

:-ms-input-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

::-webkit-input-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

/* ====================  END FORMS  ==================== */
/* ====================  STATE  ==================== */
.is-visible {
  display: block;
}

.is-hidden {
  display: none;
}

/* ====================  END STATE  ==================== */

/*# sourceMappingURL=main.css.map */
