/* ======================================================= */
/* ====================  BREADCRUMBS  ==================== */
/* ======================================================= */
.breadcrumbs {
  li {
    display: inline-block;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

// Example Microdata https://schema.org/BreadcrumbList

/* =========================================================== */
/* ====================  END BREADCRUMBS  ==================== */
/* =========================================================== */
