//* ====================  BUTTONS  ==================== */
%btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  background-color: transparent;
  outline: 0;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: nowrap;
  font-weight: normal;
  color: #000;
  -webkit-tap-highlight-color: transparent;
  @include border-radius(0);
  @include box-shadow(none);
  //@include transition(none);
  @include transition(.3s);
  @include touch-action(manipulation);
  @include user-select(none);

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
  }

  &:active {}

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
//* ====================  END BUTTONS  ==================== */
