/* ====================================================================== */
/* ======================  CUSTOM CHECKBOX, RADIO  ====================== */
/* ====================================================================== */
// General classes
$custom-name-container: custom-input !default;
$custom-checkbox-class: custom-checkbox !default;
$custom-radio-class: custom-radio !default;

//$custom-checkbox-shape or $custom-radio-shape: [square | circle| number]
//square => [border-radius: 0]
//circle => [border-radius: 50%]
//number => example 5px => [border-radius: 5px]

//$effect-opening: [show | fadeIn];

// Checkbox variables
$custom-checkbox-width: 20px !default;
$custom-checkbox-height: 20px !default;
$custom-checkbox-border-width: 1px !default;
$custom-checkbox-border-style: solid !default;
$custom-checkbox-border-color: #333 !default;
$custom-checkbox-border-color-focus: none !default;
$custom-checkbox-background: #ccc !default;
$custom-checkbox-box-shadow: none !default;
$custom-checkbox-box-shadow-focus: none !default;
$custom-checkbox-transition: none !default;
$custom-checkbox-shape: square !default;

// Checkbox inner variables
$custom-checkbox-inner-width: 10px !default;
$custom-checkbox-inner-height: 10px !default;
$custom-checkbox-inner-border-width: 0 !default;
$custom-checkbox-inner-border-style: solid !default;
$custom-checkbox-inner-border-color: #333 !default;
$custom-checkbox-inner-background: #333 !default;
$custom-checkbox-inner-box-shadow: none !default;
$custom-checkbox-inner-transition: none !default;
$custom-checkbox-inner-shape: $custom-checkbox-shape !default;

// Radio variables
$custom-radio-width: 20px !default;
$custom-radio-height: 20px !default;
$custom-radio-border-width: 1px !default;
$custom-radio-border-style: solid !default;
$custom-radio-border-color: #333 !default;
$custom-radio-border-color-focus: none !default;
$custom-radio-background: #ccc !default;
$custom-radio-box-shadow: none !default;
$custom-radio-box-shadow-focus: none !default;
$custom-radio-transition: none !default;
$custom-radio-shape: circle !default;

// Radio inner variables
$custom-radio-inner-width: 10px !default;
$custom-radio-inner-height: 10px !default;
$custom-radio-inner-border-width: 0 !default;
$custom-radio-inner-border-style: solid !default;
$custom-radio-inner-border-color: #333 !default;
$custom-radio-inner-background: #333 !default;
$custom-radio-inner-box-shadow: none !default;
$custom-radio-inner-transition: none !default;
$custom-radio-inner-shape: $custom-radio-shape !default;

// Auxiliary variables
$custom-checkbox-radio-margin-right: 10px !default;
$dimensions-fields-like-custom: false !default;
$smart-centering-indoor-units: true !default;
$centering-indoor-units: false !default;
$effect-opening: show !default;

.#{$custom-name-container} {
  [type="checkbox"],
  [type="radio"] {
    position: absolute;
    @include opacity(0);

    @if not($dimensions-fields-like-custom) {
      z-index: -1;
    } @else {
      cursor: pointer;
    }
  }

  @if ($dimensions-fields-like-custom) {
    [type="checkbox"] {
      width: $custom-checkbox-width;
      height: $custom-checkbox-height;
    }

    [type="radio"] {
      width: $custom-radio-width;
      height: $custom-radio-height;
    }
  }

  @at-root {
    .#{$custom-checkbox-class},
    .#{$custom-radio-class} {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      margin-right: $custom-checkbox-radio-margin-right;

      &:after {
        content: "";

        @if ($effect-opening == fadeIn) {
          display: block;
          visibility: hidden;
          @include opacity(0);
        } @else {
          display: none;
        }

        @if ($centering-indoor-units) {
          margin: 0 auto;
        }
      }
    }

    @if ($custom-checkbox-shape == "circle" and $custom-checkbox-inner-shape == "circle" or $custom-radio-shape == "circle" and $custom-radio-inner-shape == "circle") {
      %round-shape {
        @include border-radius(50%);
      }
    }

    .#{$custom-checkbox-class} {
      width: $custom-checkbox-width;
      height: $custom-checkbox-height;

      @if not($custom-checkbox-border-width == 0 or $custom-checkbox-border-width == none) {
        border: $custom-checkbox-border-width $custom-checkbox-border-style $custom-checkbox-border-color;
      }

      @if ($smart-centering-indoor-units) {

        $padding-top-bottom: (($custom-checkbox-width - $custom-checkbox-inner-width - ($custom-checkbox-border-width * 2)) / 2);
        $padding-right-left: (($custom-checkbox-height - $custom-checkbox-inner-height - ($custom-checkbox-border-width * 2)) / 2);

        @if ($padding-top-bottom == $padding-right-left) {
          padding: $padding-top-bottom;
        } @else {
          padding: $padding-top-bottom $padding-right-left;
        }
      }

      @if not($custom-checkbox-background == none) {
        background: $custom-checkbox-background;
      }

      @if ($custom-checkbox-shape == "circle") {
        @extend %round-shape;
      } @else if not($custom-checkbox-shape == "square") and not($custom-checkbox-shape == "circle") {
        @include border-radius($custom-checkbox-shape);
      }

      @if not($custom-checkbox-box-shadow == none) {
        @include box-shadow($custom-checkbox-box-shadow);
      }

      @if not($custom-checkbox-transition == none) {
        @include transition($custom-checkbox-transition);
      }

      &:after {
        width: $custom-checkbox-inner-width;
        height: $custom-checkbox-inner-height;

        @if not($custom-checkbox-inner-border-width == 0 or $custom-checkbox-inner-border-width == none) {
          border: $custom-checkbox-inner-border-width $custom-checkbox-inner-border-style $custom-checkbox-inner-border-color;
        }

        @if not($custom-checkbox-inner-background == none) {
          background: $custom-checkbox-inner-background;
        }

        @if ($custom-checkbox-inner-shape == "circle") {
          @extend %round-shape;
        }

        @if not($custom-checkbox-inner-box-shadow == none) {
          @include box-shadow($custom-checkbox-inner-box-shadow);
        }

        @if not($custom-checkbox-inner-transition == none) {
          @include transition($custom-checkbox-inner-transition);
        }
      }
    }

    .#{$custom-radio-class} {
      width: $custom-radio-width;
      height: $custom-radio-height;

      @if not($custom-checkbox-border-width == 0 or $custom-checkbox-border-width == none) {
        border: $custom-radio-border-width $custom-radio-border-style $custom-radio-border-color;
      }

      @if ($smart-centering-indoor-units) {

        $padding-top-bottom: (($custom-radio-width - $custom-radio-inner-width - ($custom-radio-border-width * 2)) / 2);
        $padding-right-left: (($custom-radio-height - $custom-radio-inner-height - ($custom-radio-border-width * 2)) / 2);

        @if ($padding-top-bottom == $padding-right-left) {
          padding: $padding-top-bottom;
        } @else {
          padding: $padding-top-bottom $padding-right-left;
        }
      }

      @if not($custom-radio-background == none) {
        background: $custom-radio-background;
      }

      @if ($custom-radio-shape == "circle") {
        @extend %round-shape;
      }

      @if not($custom-radio-box-shadow == none) {
        @include box-shadow($custom-radio-box-shadow);
      }

      @if not($custom-radio-transition == none) {
        @include transition($custom-radio-transition);
      }

      &:after {
        width: $custom-radio-inner-width;
        height: $custom-radio-inner-height;

        @if not($custom-radio-inner-border-width == 0 or $custom-radio-inner-border-width == none) {
          border: $custom-radio-inner-border-width $custom-radio-inner-border-style $custom-radio-inner-border-color;
        }

        @if not($custom-radio-inner-background == none) {
          background: $custom-radio-inner-background;
        }

        @if ($custom-radio-shape == "circle") {
          @extend %round-shape;
        }

        @if not($custom-radio-inner-box-shadow == none) {
          @include box-shadow($custom-radio-inner-box-shadow);
        }

        @if not($custom-radio-inner-transition == none) {
          @include transition($custom-radio-inner-transition);
        }
      }
    }

    %custom-checked {
      &:after {
        @if ($effect-opening == fadeIn) {
          visibility: visible;
          @include opacity(1);
        } @else {
          display: block;
        }
      }
    }

    %custom-disabled {
      //cursor: default;
      cursor: not-allowed;
      @include opacity(.65);
    }

    [type="checkbox"] {
      &:checked {
        + .#{$custom-checkbox-class} {
          &:after {
            @extend %custom-checked;
          }
        }
      }

      &:disabled {
        + .#{$custom-checkbox-class} {
          @extend %custom-disabled;
        }
      }

      &:focus {
        + .#{$custom-checkbox-class} {

          @if not($custom-checkbox-border-color-focus == none) and not($custom-checkbox-border-color == $custom-checkbox-border-color-focus) {
            border-color: $custom-checkbox-border-color-focus;
          }

          @if not($custom-checkbox-box-shadow-focus == none) and not($custom-checkbox-box-shadow == $custom-checkbox-box-shadow-focus) {
            @include box-shadow($custom-checkbox-box-shadow-focus);
          }
        }
      }
    }

    [type="radio"] {
      &:checked {
        + .#{$custom-radio-class} {
          &:after {
            @extend %custom-checked;
          }
        }
      }

      &:disabled {
        + .#{$custom-radio-class} {
          @extend %custom-disabled;
        }
      }

      &:focus {
        + .#{$custom-radio-class} {

          @if not($custom-radio-border-color-focus == none) and not($custom-radio-border-color == $custom-radio-border-color-focus) {
            border-color: $custom-radio-border-color-focus;
          }

          @if not($custom-radio-box-shadow-focus == none) and not($custom-radio-box-shadow == $custom-radio-box-shadow-focus) {
            @include box-shadow($custom-radio-box-shadow-focus);
          }
        }
      }
    }
  }
}

/* ====================================================================== */
/* ====================  END CUSTOM CHECKBOX, RADIO  ==================== */
/* ====================================================================== */
