//- Pixel Perfect scripts
script(src='js/libs/jquery.pixlayout.min.js', async=false, defer=false)
script.
  $(function () {
    $.pixlayout({
      src: 'img/layout-home.jpg',
      opacity: 0.6,
      step: 1,
      top: 0,
      zindex: 999,
      clip: true,
      center: true,
      fixed: false,
      show: true,
      pervious: true
    });
    $('#pxl_wrap').css({boxSizing: "content-box"});
    setTimeout(function () {
      var pxl_pic = $('.pxl_pic').find('img');
      pxl_pic.attr({width: pxl_pic.width(), height: pxl_pic.height()});
    }, 200);
  });